%h1
  Aktuality Krmelín

.well.m-b-3
  %p
    Každou hodinu jsou kontrolovány stránky
    = link_to "http://www.krmelin.cz", "http://www.krmelin.cz"
    a stahovány informace ze sekce Aktuality na úvodní stránce. Tyto jsou ukládány do lokální
    databáze.
  %p
    Na registrované e-maily chodí informace o nových aktualitách. O každé novince,
    která se objeví po vaší registraci na oficiálních stránkách obce, jste tak
    informováni maximálně hodinu poté (tzn. kontrola obecních stránek probíhá každou hodinu).

  .text-center
    = link_to new_user_path, class: "btn btn-lg btn-success" do
      %span.glyphicon.glyphicon-envelope{ aria: { hidden: "true" }}
      Registrovat e-mail

.news-items-header.row.m-b-1
  .col-sm-7
    %h3
      Archiv aktualit
      %span.text-muted (#{NewsItem.count})

  - if @activity
    .col-sm-5.text-right
      %em
        Poslední aktualizace
        = l(@activity.created_at, format: :long)


- @news_items.each do |news_item|
  .panel.panel-default
    .panel-body
      %h2.panel-title= news_item.imported_title
      %small= news_item.imported_date
      %p.m-t
        = link_to "http://www.krmelin.cz/#{news_item.imported_link}", "http://www.krmelin.cz/#{news_item.imported_link}"

= paginate @news_items
